In [1]:
import pandas as pd

In [2]:
val_smp = pd.read_csv('../input/valid.csv')
val_raw = pd.read_csv('../input/valid_raw.csv')

In [4]:
val_smp.head()

                                             drawing  word
0  [[[143, 140, 129, 126, 117, 104, 73, 15, 1, 0,...    13
1  [[[124, 62, 40, 24, 5, 0, 8, 31, 57, 94, 117, ...   128
2  [[[24, 39, 46, 55, 29, 1], [4, 55, 110, 141, 1...   164
3  [[[1, 99, 207], [0, 6, 7]], [[0, 96, 227], [14...    29
4  [[[57, 37, 18, 4, 0, 12, 34, 63, 95, 123, 125,...   197